@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --BGC-header: #032541;
  --BGC-backdrop-gradient1: #033654d7;
  --BGC-backdrop-gradient2: #017aa3c7;
  --BGC-backdropFilm-gradient: rgba(0, 0, 0, 0.85);
  --BGC-backdropFilm-gradient1: white;
  --BGC-button: #01b4e4;
  --BGC-button-hover: #032541;
  --posi-header-bar: 0;
  --width-filter: 250px;
  --height-header: 60px;
  --feature-text: "test";
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#root .app {
  width: 100%;
  height: 100%;
  position: relative;
}
#root .app .header {
  background-color: var(--BGC-header);
  position: fixed;
  width: 100%;
  height: var(--height-header);
  transition: 0.25s ease-in-out;
  z-index: 2;
  box-sizing: border-box;
}
#root .app .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root .app .header-bar div {
  display: flex;
}
#root .app .header-bar-link {
  font-size: 20px;
  color: white;
  margin: 0 10px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .app .header-bar-link .home {
  width: 60px;
  object-fit: cover;
}
#root .app .header-bar-text {
  padding: 5px;
}
#root .app .header-bar-login {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 5vw;
}
#root .app .header-bar-login-img {
  width: 40px;
  border-radius: 50%;
}
#root .app .header-bar-login-img img {
  width: 40px;
  object-fit: scale-down;
  border-radius: 100%;
}
#root .app .header-bar-login-feature {
  flex-direction: column;
  background-color: #fff;
  color: #292828;
  box-shadow: 0 0 2px black;
  margin: 5px 0;
  width: 100px;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  border-radius: 4px;
}
#root .app .header-bar-login-feature span {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
#root .app .header-bar-login-feature span:first-child {
  border-radius: 4px 4px 0 0;
}
#root .app .header-bar-login-feature span:last-child {
  border-radius: 0 0 4px 4px;
}
#root .app .header-bar-login-feature span:hover {
  background-color: var(--BGC-button);
  color: white;
  font-weight: bold;
}
#root .app .header-bar-login-feature::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}
#root .app .header-bar .wrap-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
#root .app .header-bar .login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
}
#root .app .header-bar .login-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s linear;
}
#root .app .header-bar .login-close:hover {
  background-color: grey;
  color: white;
}
#root .app .header-bar .login form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root .app .header-bar .login form .inputfield {
  position: relative;
  width: 300px;
}
#root .app .header-bar .login form .inputfield label {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#root .app .header-bar .login form .inputfield label span {
  flex-shrink: 0;
  width: 100px;
}
#root .app .header-bar .login form .inputfield label input {
  width: 200px;
  padding: 5px;
}
#root .app .header-bar .login form .inputfield .passvisible {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
#root .app .header-bar .login form .inputfield .passvisible svg {
  color: grey;
}
#root .app .header-bar .login form .login-note {
  margin-bottom: 15px;
  width: 100%;
}
#root .app .header-bar .login form .login-note div div svg {
  font-size: 8px;
  margin-right: 5px;
}
#root .app .header-bar .login form .login-note div div span {
  font-size: 12px;
}
#root .app .header-bar .login form .login-control {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#root .app .header-bar .login form .login-control button {
  padding: 10px 25px;
  margin: 0 5px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #122029;
  color: white;
  transition: 0.25s linear;
}
#root .app .header-bar .login form .login-control button:hover {
  background-color: #77706e;
}
#root .app .header-bar-search {
  margin-right: 30%;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #19d0b2;
  border: none;
  outline: none;
}
#root .app .header-search {
  background-color: #fff;
}
#root .app .header-search-tool {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: left;
  align-items: center;
}
#root .app .header-search-tool .search-icon {
  margin-left: 4%;
  font-size: 25px;
}
#root .app .header-search-tool-filled {
  margin: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px;
  width: 90%;
  margin-left: 20px;
}
#root .app .header-search-tool .close-icon {
  margin: 5px;
  margin-right: 5%;
}
#root .app .header-search-tool .close-icon-wait {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
#root .app .header-search-tool .close-icon-wait::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 50%;
  z-index: 2;
  clip: rect(0, 18px, 20px, 2px);
  box-sizing: border-box;
  animation: header-search-icon-wait-outside 0.5s linear 0s 1;
}
@keyframes header-search-icon-wait-outside {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#root .app .header-search-tool .close-icon-wait::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 1px solid grey;
  border-radius: 50%;
  clip: rect(2px, 10px, 9px, 0px);
  box-sizing: border-box;
  top: 5px;
  left: 5px;
  animation: header-search-icon-wait-inner 0.5s linear 0s var(--run-search-icon-wait);
}
@keyframes header-search-icon-wait-inner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
#root .app .header-search-tool .close-icon-display {
  font-size: 20px;
}
#root .app .header-search-result-trending {
  border-bottom: 1px solid grey;
  padding-top: 2px;
  padding-bottom: 2px;
}
#root .app .header-search-result-trending .trending-icon {
  margin: 0 0 0 4%;
  font-size: 25px;
  font-weight: bolder;
}
#root .app .header-search-result-trending .trending-text {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
}
#root .app .header-search-result-items {
  border-bottom: 1px solid grey;
  padding-top: 2px;
  padding-bottom: 2px;
}
#root .app .header-search-result-items .icon {
  margin: 0 0 0 4%;
  font-size: 20px;
  font-weight: bolder;
}
#root .app .header-search-result-items .text {
  font-size: 20px;
  margin-left: 20px;
}
#root .app .header-area {
  width: 100%;
  height: var(--height-header);
  background-color: var(--BGC-header);
}
#root .app .contentApp {
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}
#root .app .contentApp .home {
  width: 100%;
  left: 0;
}
#root .app .contentApp .home-backdrop {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to right, var(--BGC-backdrop-gradient1), var(--BGC-backdrop-gradient2)), url("./images/film.jpg");
  background-position: center;
  background-color: var(--BGC-header);
  background-repeat: no-repeat;
  background-size: cover;
}
#root .app .contentApp .home-backdrop-header {
  position: absolute;
  margin-left: 30px;
  color: white;
}
#root .app .contentApp .home-backdrop-header h1 {
  font-size: 30px;
  margin-top: 40px;
}
#root .app .contentApp .home-backdrop-header h2 {
  font-size: 20px;
}
#root .app .contentApp .home-backdrop-search {
  border-radius: 40px;
  position: absolute;
  margin: 5px 4%;
  width: 92%;
  top: 30vh;
  background-color: #fff;
  font-size: 20px;
}
#root .app .contentApp .home-backdrop-search input {
  border-radius: 40px;
  font-size: 20px;
  width: 80%;
  border: none;
  outline: none;
  padding: 15px 30px;
}
#root .app .contentApp .home-backdrop-search button {
  width: 15%;
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  background-color: var(--BGC-button);
  border: none;
  border-radius: 40px;
  outline: none;
  float: right;
}
#root .app .contentApp .home-backdrop-search button:hover {
  background-color: var(--BGC-button-hover);
}
#root .app .contentApp .home-popular {
  width: 100%;
  min-height: 515px;
  padding: 20px 20px 0 20px;
}
#root .app .contentApp .home-popular:last-child {
  padding: 20px 20px 20px 20px;
}
#root .app .contentApp .home-popular h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
#root .app .contentApp .home-popular-header {
  display: flex;
}
#root .app .contentApp .home-popular-header-toggle {
  position: relative;
  height: 100%;
  display: flex;
  margin: 8px 30px;
  font-weight: 700;
  border-radius: 20px;
  border: 1px solid var(--BGC-header);
}
#root .app .contentApp .home-popular-header-toggle .bythetime {
  padding: 7px 20px;
  border-radius: 20px;
}
#root .app .contentApp .home-popular-header-toggle .cover {
  position: absolute;
  width: 82px;
  height: 100%;
  background-color: var(--BGC-header);
  top: 0;
  border-radius: 20px;
  z-index: -1;
  transition: 0.5s ease-out;
}
#root .app .contentApp .home-popular-display {
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
}
#root .app .contentApp .home-popular-display .movieBanner:not(:first-child) {
  margin-left: 20px;
}
#root .app .contentApp .home-popular-display .movieBanner {
  margin-bottom: 20px;
}
#root .app .contentApp .movie {
  display: flex;
  margin-top: 40px;
}
#root .app .contentApp .movie-tool {
  width: var(--width-filter);
  margin: 5px;
  padding: 5px;
  white-space: wrap;
  box-sizing: border-box;
}
#root .app .contentApp .movie-tool-sort {
  width: 100%;
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  margin: 20px 0;
}
#root .app .contentApp .movie-tool-sort-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--width-filter) - 20px);
  height: 100%;
  position: relative;
  padding: 10px;
}
#root .app .contentApp .movie-tool-sort-label span {
  padding: 7px 5px;
  font-size: 20px;
}
#root .app .contentApp .movie-tool-sort-devide {
  width: 100%;
  border-bottom: 1px solid grey;
}
#root .app .contentApp .movie-tool-sort-tool label {
  padding: 10px;
  font-size: 20px;
  margin: 5px 0;
  display: block;
  width: 100%;
}
#root .app .contentApp .movie-tool-sort-tool label span {
  margin: 5px 5px;
  padding: 5px 10px;
  box-shadow: 0 0 2px black;
  border-radius: 3px;
}
#root .app .contentApp .movie-tool-sort-tool label div {
  margin: 10px 0;
}
#root .app .contentApp .movie-tool-sort-tool label .genres {
  display: flex;
  flex-wrap: wrap;
}
#root .app .contentApp .movie-tool-sort-tool select {
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.363);
  width: 100%;
  outline: grey;
}
#root .app .contentApp .movie-tool-sort-tool select:hover {
  background-color: grey;
}
#root .app .contentApp .movie-tool button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--BGC-button);
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  font-weight: 400;
}
#root .app .contentApp .movie-tool button:disabled {
  background-color: rgba(128, 128, 128, 0.425);
}
#root .app .contentApp .movie-tool button:disabled:hover {
  background-color: rgba(128, 128, 128, 0.425);
}
#root .app .contentApp .movie-tool button:hover {
  background-color: #032541;
}
#root .app .contentApp .movie-display {
  width: 100%;
  position: relative;
}
#root .app .contentApp .movie-display .noresult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}
#root .app .contentApp .movie-display-pagenum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#root .app .contentApp .movie-display-pagenum .pagenum {
  width: 25px;
  height: 25px;
  margin: 2px;
  border: 0.5px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .app .contentApp .movie-display-pagenum .nextpage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 25px;
  margin: 2px;
  border: 0.5px solid black;
  text-align: center;
}
#root .app .contentApp .movie-display-pagenum .nextpage:hover {
  background-color: green;
  color: white;
}
#root .app .contentApp .movie-display-pagenum .gotopage {
  padding: 2px;
  border: 0.5px solid black;
}
#root .app .contentApp .movie-display-pagenum .gotopage input {
  width: 60px;
  outline: none;
}
#root .app .contentApp .movie-display-film {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#root .app .contentApp .film-own {
  width: 100%;
  height: 100%;
}
#root .app .contentApp .film-own-intro {
  margin: 0 20px;
  display: flex;
}
#root .app .contentApp .film-own-intro .poster {
  position: relative;
  width: 280px;
  height: 480px;
  transition: 1s linear;
}
#root .app .contentApp .film-own-intro .poster img {
  margin: 40px 0;
  width: 280px;
  height: 400px;
  object-fit: cover;
  top: 50%;
  border-radius: 10px;
}
#root .app .contentApp .film-own-intro .poster-turnonTrailer {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 140px;
  width: 280px;
  height: 400px;
  font-size: 60px;
  color: red;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#root .app .contentApp .film-own-intro .poster-turnonTrailer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#root .app .contentApp .film-own-intro .info {
  margin: 40px 20px;
  color: white;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}
#root .app .contentApp .film-own-intro .info h2 {
  font-size: 27px;
  font-weight: 600;
  line-height: 35px;
}
#root .app .contentApp .film-own-intro .info p {
  line-height: 25px;
}
#root .app .contentApp .film-own-intro .info-feature {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}
#root .app .contentApp .film-own-intro .info-feature-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
  transition: 0.25s linear;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(3):hover::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--BGC-header);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 100%;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(3):hover::after {
  content: "Add to list";
  position: absolute;
  top: calc(100% + 4px);
  background-color: var(--BGC-header);
  padding: 4px;
  font-size: 12px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
  border-radius: 4px;
  white-space: nowrap;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(4):hover::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--BGC-header);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 100%;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(4):hover::after {
  content: "Mark as favorite";
  position: absolute;
  top: calc(100% + 4px);
  background-color: var(--BGC-header);
  white-space: nowrap;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
  border-radius: 4px;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(5):hover::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--BGC-header);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 100%;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(5):hover::after {
  content: "Add to your watchlist";
  position: absolute;
  top: calc(100% + 4px);
  background-color: var(--BGC-header);
  white-space: nowrap;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
  border-radius: 4px;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(6):hover::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--BGC-header);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 100%;
}
#root .app .contentApp .film-own-intro .info-feature-item:nth-child(6):hover::after {
  content: "Rate it";
  position: absolute;
  top: calc(100% + 4px);
  background-color: var(--BGC-header);
  white-space: nowrap;
  padding: 4px;
  font-size: 12px;
  letter-spacing: 0.1px;
  word-spacing: 0.5px;
  border-radius: 4px;
}
#root .app .contentApp .film-own-intro .info-feature-item:not(:nth-child(2)) {
  background-color: var(--BGC-header);
}
#root .app .contentApp .film-own-intro .info-overview {
  margin-bottom: 10px;
}
#root .app .contentApp .film-own-intro .trailer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
#root .app .contentApp .film-own-intro .trailer-videos {
  position: absolute;
  margin: 0 10vw;
  width: 80vw;
  height: 100vh;
  background-color: black;
}
#root .app .contentApp .film-own-intro .trailer-videos-head {
  width: 1080px;
  background-color: black;
  height: 5vh;
  color: white;
}
#root .app .contentApp .film-own-intro .trailer-videos-head h2 {
  padding: 10px;
  font-size: 25px;
}
#root .app .contentApp .film-own-intro .trailer-videos-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  z-index: 10;
}
#root .app .contentApp .film-own-intro .trailer-videos-close:hover {
  background-color: grey;
}
#root .app .contentApp .film-own-intro .trailer-videos iframe {
  width: 80vw;
  height: 95vh;
}
#root .app .contentApp .film-trailer {
  width: 80%;
  height: 500px;
}
#root .app .contentApp .film .film-recommend-title {
  margin-top: 40px;
  margin-left: 30px;
  font-size: 30px;
  text-shadow: 2px 2px grey;
  font-weight: bold;
}
#root .app .contentApp .film-recommend {
  margin-top: 40px;
  margin-bottom: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
}
#root .app .contentApp .film-recommend div:first-child {
  display: flex;
}
#root .app .contentApp .film-recommend div:first-child .movieBannerH {
  margin-bottom: 30px;
}
#root .app .contentApp .search {
  --width-tool: 250px;
  --width-display: calc(100% - 40px - var(--width-tool));
  --width-poster: 200px;
  --height-poster: 300px;
  --bgc-select-hover: rgba(0, 0, 0, 0.1);
  --mar-tool-ver: 15px;
  --mar-tool-hor: 10px;
  --mar-display-ver: 0;
  --mar-display-hor: 10px;
  margin: 40px 0;
  display: flex;
}
#root .app .contentApp .search .tool {
  width: var(--width-tool);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: var(--mar-tool-ver) var(--mar-display-hor);
}
#root .app .contentApp .search .tool-sort {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
#root .app .contentApp .search .tool-sort-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}
#root .app .contentApp .search .tool-sort-content label {
  font-size: 20px;
  padding: 15px;
  display: inline-block;
  width: 100%;
}
#root .app .contentApp .search .tool-sort-content label select {
  cursor: pointer;
  display: block;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  width: 96%;
  outline: none;
}
#root .app .contentApp .search .tool-sort-content label select:hover {
  background-color: var(--bgc-select-hover);
}
#root .app .contentApp .search .tool-filter {
  width: 100%;
  box-shadow: 0 0 5px black;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 20px;
}
#root .app .contentApp .search .tool-filter-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
#root .app .contentApp .search .tool-filter-content label {
  display: inline-block;
  padding: 15px;
  width: 100%;
}
#root .app .contentApp .search .tool-filter-content label div {
  font-size: 18px;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
#root .app .contentApp .search .tool-filter-content label .genres:hover {
  background-color: var(--bgc-select-hover);
}
#root .app .contentApp .search .tool-filter-content label select {
  display: block;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  width: 96%;
  outline: none;
  cursor: pointer;
}
#root .app .contentApp .search .tool-filter-content label select:hover {
  background-color: var(--bgc-select-hover);
}
#root .app .contentApp .search .tool-filter-content button {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border: none;
  outline: none;
  background-color: var(--BGC-button);
  font-size: 20px;
  color: white;
}
#root .app .contentApp .search .tool-filter-content button:hover {
  background-color: var(--BGC-button-hover);
}
#root .app .contentApp .search .display {
  width: var(--width-display);
  margin: var(--mar-display-ver) var(--mar-display-hor);
  position: relative;
}
#root .app .contentApp .search .display-movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
#root .app .contentApp .search .display-movies-film {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
}
#root .app .contentApp .search .display-movies-film .poster {
  width: var(--width-poster);
  height: var(--height-poster);
}
#root .app .contentApp .search .display-movies-film .poster img {
  width: var(--width-poster);
  height: var(--height-poster);
  border-radius: 10px;
  box-shadow: 0 0 2px black;
}
#root .app .contentApp .search .display-movies-film .intro {
  width: calc(100% - var(--width-poster));
  padding: 10px;
  line-height: 1.5;
  color: white;
  overflow: hidden;
}
#root .app .contentApp .search .display-movies-film .intro h3 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}
#root .app .contentApp .search .display-movies-film .intro h4 {
  display: inline-block;
}
#root .app .contentApp .search .display-movies-film .intro .overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
#root .app .contentApp .search .display-movies-film .intro div {
  margin-bottom: 5px;
}
#root .app .contentApp .search .display-movies .display-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .app .contentApp .search .display-movies .display-page button {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: var(--BGC-button);
}
#root .app .contentApp .search .display-movies .display-page button:hover {
  background-color: var(--BGC-button-hover);
  color: white;
}
#root .app .contentApp .search .display-noresult {
  position: absolute;
  top: 100%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
#root .app .footer {
  background-color: var(--BGC-header);
  background-image: linear-gradient(to right, var(--BGC-header), var(--BGC-button));
  height: 20vh;
  text-align: center;
}
#root .app .footer .text {
  font-size: 30px;
  padding: 20px;
}
#root .app .footer .icon {
  display: flex;
  justify-content: space-around;
}
#root .app .footer .icon .react-icons {
  vertical-align: middle;
  color: var(--head-color);
  font-size: 40px;
}

.movieBanner {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
  margin-bottom: 10px;
  margin-left: 10px;
}
.movieBanner a:active,
.movieBanner a:visited,
.movieBanner a {
  color: black;
}
.movieBanner-image {
  position: relative;
  width: 170px;
  border-radius: 10px;
  height: 250px;
  box-shadow: 0 0 2px black;
}
.movieBanner-image img {
  width: 170px;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}
.movieBanner-image .wrap-circleProcessBar {
  position: absolute;
  top: 100%;
  left: 20px;
  transform: translateY(-50%);
}
.movieBanner-title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.movieBanner-title h4 {
  padding: 0 10px;
  height: 50px;
  display: inline-block;
  flex-shrink: 0;
  font-weight: 800;
  margin-bottom: 30px;
  overflow: hidden;
}
.movieBanner-title h5 {
  padding: 0 10px;
  width: 100%;
  flex: 1;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-weight: 100;
}

.movieBannerH {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.493);
  margin-bottom: 40px;
  margin-left: 10px;
}
.movieBannerH a:active,
.movieBannerH a:visited,
.movieBannerH a {
  color: black;
}
.movieBannerH-image {
  position: relative;
  width: 170px;
  border-radius: 10px;
  height: 250px;
  box-shadow: 0 0 2px black;
}
.movieBannerH-image img {
  width: 170px;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}
.movieBannerH-image .wrap-circleProcessBar {
  position: absolute;
  top: 100%;
  left: 20px;
  transform: translateY(-50%);
}
.movieBannerH-title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.movieBannerH-title h4 {
  padding: 0 10px;
  height: 50px;
  display: inline-block;
  flex-shrink: 0;
  font-weight: 800;
  margin-bottom: 30px;
  overflow: hidden;
}
.movieBannerH-title h5 {
  padding: 0 10px;
  width: 100%;
  flex: 1;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-weight: 100;
}

.movieBanner-bgc {
  background-image: url("./images/bgcOfBanalMovie1.jpg");
  background-size: cover;
}

.link-decoration {
  text-decoration: none;
  color: black;
}
.link-decoration:active {
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.devide {
  width: 100%;
  border-bottom: 1px solid grey;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
               supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 830px) {
  #root .app .contentApp .search {
    flex-direction: column;
  }
  #root .app .contentApp .search .tool {
    width: calc(100% - var(--mar-tool-hor) - 5px);
  }
  #root .app .contentApp .search .display {
    width: calc(100% - var(--mar-display-hor));
  }
}
@media only screen and (max-width: 789px) {
  .col-6 {
    width: 45%;
  }

  .movieBanner img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --width-filter: 100%;
  }

  #root .movieBanner img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }
  #root .app .header-bar-link:not(:first-child) {
    margin-left: 2px;
  }
  #root .app .header-bar-text {
    margin-left: 0;
    padding: 0;
    font-size: 18px;
  }
  #root .app .contentApp .home-backdrop {
    height: 40vh;
  }
  #root .app .contentApp .home-backdrop-header h1 {
    font-size: 20px;
  }
  #root .app .contentApp .home-backdrop-header h2 {
    font-size: 18px;
    margin-top: 5px;
  }
  #root .app .contentApp .home-backdrop-search {
    margin-top: 10px;
  }
  #root .app .contentApp .home-backdrop-search input {
    font-size: 16px;
    padding: 5px 8px;
    width: 80%;
  }
  #root .app .contentApp .home-backdrop-search button {
    font-size: 18px;
    padding: 5px;
  }
  #root .app .contentApp .home-popular h2 {
    display: inline-block;
    font-size: 16px;
  }
  #root .app .contentApp .home-popular-header-toggle {
    margin: 0 0 0 8px;
  }
  #root .app .contentApp .home-popular-header-toggle .bythetime {
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
  }
  #root .app .contentApp .movie {
    display: flex;
    flex-direction: column;
  }
  #root .app .contentApp .movie-tool {
    width: calc(var(--width-filter) * 98%);
  }
  #root .app .contentApp .movie-tool-sort {
    width: 100%;
  }
  #root .app .contentApp .movie-tool-sort-tool {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  :root {
    --width-filter: 100%;
  }

  #root .app .col-mo-12 {
    width: 90%;
  }
  #root .app .movieBanner img {
    width: 100%;
    border-radius: 10px;
    height: 80%;
    object-fit: cover;
    flex-shrink: 0;
  }
  #root .app .contentApp .home-backdrop-search {
    font-size: 10px;
  }
  #root .app .contentApp .home-backdrop-search input {
    width: 80%;
  }
  #root .app .contentApp .home-backdrop-search button {
    overflow: hidden;
    width: 18%;
  }
  #root .app .contentApp .movie {
    flex-direction: column;
  }
  #root .app .contentApp .movie-tool-sort-label {
    width: 100%;
  }
  #root .app .contentApp .movie-tool-sort-tool {
    width: var(--width-filter);
  }
  #root .app .contentApp .movie-display-pagenum {
    white-space: nowrap;
  }
}

/*# sourceMappingURL=App.css.map */
